@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: rejoiuce;
  src: url(./Rejouice-Headline.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* font-family: rejoiuce; */
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
  user-select: none;
}
:root {
  --shiny-cta-bg: #000000;
  --shiny-cta-bg-subtle: #1a1818;
  --shiny-cta-fg: #ffffff;
  --shiny-cta-highlight: blue;
  --shiny-cta-highlight-subtle: #8484ff;
}

nav {
  width: 100%;
  height: 100px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center;
  background: transparent;
  z-index: 999;
  transition: 0.45s;
  margin: 0 auto;
}
nav.active {
  top: 10px;
  border-radius: 8px;
  width: 500px;
  background-color: #22222246;
  backdrop-filter: blur(15px);
  padding: 10px 20px;
  border: 1px solid #ffffff2c;
  height: 60px;
}
.toggle-menu nav.active {
  width: 90%;
}
.menu {
  height: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 6px;
  /* background-color: #ff5f38; */
  overflow: hidden;
  cursor: pointer;
}
.menu span {
  transition: 0.35s;
}
.toggle-menu .menu span {
  transform: translateY(-150%);
}
.toggle {
  transform: translateX(100%);
  /* transition: 0.55s; */
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}
.toggle ul {
  opacity: 0;
}
.toggle-menu .toggle {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  transform: translateX(0);
  top: 0;
  transition: 0.55s;
  height: 100vh;
  background: #000000;
  padding: 0 30px;
  z-index: 9;
  padding: 60px;
  margin-top: 0;
}
.toggle-menu .toggleoverlay {
  transform: translateX(240%);
  /* transition: 0.55s; */
}
.toggle-menu .toggleoverlay {
  position: absolute;
  content: "";
  width: 240%;
  height: 100%;
  transition: 0.55s;
  transform: translateX(0);
  right: 0;
  top: 0;
  z-index: 2;
  backdrop-filter: blur(15px);
  background-color: #000000c1;
}

.toggle-menu .toggle ul {
  margin: 0;
  flex-direction: column;
  display: flex;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  margin-top: 20px;
  opacity: 1;
}
.toggle-menu .toggle ul li {
  list-style: none;
  padding: 0;
  overflow: hidden;
}
.toggle-menu .toggle ul a {
  display: inline-block;
  font-size: 48px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}
.toggle-menu .toggle .contact-info {
  width: 100%;
  align-items: flex-start;
  display: flex;
  height: 60px;
  gap: 60px;
  justify-content: flex-start;
  color: #c2c2c2;
  /* background-color: #ffffff; */
}
.toggle-menu .contact-info h5 {
  font-size: 14px;
  display: flex;
  font-weight: 300;
  margin-left: 5px;
  gap: 5px;
  flex-direction: column;
  text-align: left;
}
.toggle-menu .contact-info h5 span {
  color: #ff5f38;
  font-weight: 500;
}

#page1 {
  width: 100%;
  height: 100vh;
  background: #222222;
  position: relative;
}
#page1 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.banner-content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: #22222221;
  display: flex;
  z-index: 10;
  align-items: flex-end;
  justify-content: center;
}
.video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: #00000021;
}
#page1 h1 {
  font-size: 25.8vw;
  color: #ffffff;
  font-weight: 400;
  font-family: rejoiuce;
  line-height: 0.9;
  will-change: transform;
}
#cursor {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff5f38;
  border-radius: 50%;
  pointer-events: none;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  scale: 0;
  z-index: 9;
  position: fixed;
  transform: translate(-50%, -50%);
}
#page2 {
  width: 100%;
  min-height: 50vh;
  /* background: #222222; */
  position: relative;
  padding: 80px 30px;
}
.about-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid #222222;
}
.about-heading h4 {
  font-size: 18px;
  color: #222222;
  font-weight: 400;
  will-change: transform;
  opacity: 0;
}
.about-content {
  margin: 20px auto;
}
.about-content h2 {
  font-size: 60px;
  color: #272727;
  letter-spacing: -1px;
  font-weight: 400;
  will-change: transform;
  opacity: 0;
}
.split * {
  will-change: transform;
}
#line-animation {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: -1;
}

.svg-wrap {
  position: absolute;
  inset: 0;
}

svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.draw-path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  /* animation: drawLine 3s ease-out forwards; */
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}
#page3 {
  width: 100%;
  min-height: 100vh;
  /* background: #222222; */
  position: relative;
  padding: 50px 30px 0px 30px;
}
#banner-text {
  overflow: hidden;
  will-change: transform;
}
#banner-text span {
  display: inline-block;
  will-change: transform;
  font-family: rejoiuce;
}
.page3-top {
  text-align: center;
}
.page3-top h4 {
  font-size: 22px;
  color: #222222;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  line-height: 1;
  /* justify-content: center; */
}
.page3-top h4 span {
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  padding: 5px 10px;
  background: #000000;
  border-radius: 20px;
  line-height: 1;
}
.page3-top h2 {
  font-size: 60px;
  color: #222222;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -2px;
  transition: transform 0.55s ease;
  text-decoration: underline 3px;
}
.get-to-know {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-hover-box {
  display: inline-flex;
  width: fit-content;
  height: 60px;
  align-items: center;
  overflow: hidden;
  margin-top: 200px;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  gap: 10px;
  /* border-bottom: 3px solid #222222; */
  transition: width 0.6s ease;
}
.text-hover-box span {
  display: inline-flex;
  font-size: 60px;
  color: #222222;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -2px;
  white-space: nowrap;
  margin: 0;
  line-height: 60px !important;
  transition: transform 0.55s ease;
}
.underline {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #222222;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  /* transform-origin: 50% 50%; */
  transition: 0.35s;
}
.text-hover-box:hover span {
  transform: translateY(-120%);
  transition: transform 0.5s ease;
}

/* .text-hover-box:hover .underline {
  width: 230px;
  transition:0.35s;
} */

.page3_element {
  height: 75vh;
  width: 100%;
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.page3_element .box {
  height: 100%;
  width: 33%;
  background-color: #f5f5f5;
  position: relative;
  overflow: hidden;
}
.page3_element .box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.page3_element .box img {
  position: absolute;
  width: 101%;
  height: 101%;
  margin: 0;
  object-fit: cover;
  left: 0;
  top: 0;
  opacity: 1;
  transition: all 1s ease;
}
.page3_element .box:hover img {
  opacity: 0;
}
.video-head {
  /* padding-bottom: 10px; */
  margin-top: 60px;
}
#page4 {
  width: 100%;
  min-height: 50vh;
  /* background: #222222; */
  position: relative;
  padding: 80px 30px;
}

#page5 {
  width: 100%;
  height: 90vh;
  /* background: #222222;  */
  position: relative;
  /* padding: 80px 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#page5 svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}
.circle-video-wrapper {
  position: relative;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-mask-image: radial-gradient(
    circle,
    black 55%,
    rgba(0, 0, 0, 0.6) 70%,
    rgba(0, 0, 0, 0.2) 80%,
    transparent 100%
  );
  mask-image: radial-gradient(
    circle,
    #ffffff 55%,
    rgb(255 255 255 / -63%) 69%,
    rgba(0, 0, 0, 0.2) 94%,
    transparent 100%
  );
}
.circle-video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.counter-main-box {
  width: 200px;
  height: 120px;
  /* background-color: #272727; */
  position: absolute;
  left: 50%;
  top: 50%;
  color: #ffffff;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  transform: translate(-50%, -50%);
}
.counter-wrapper {
  display: flex;
  gap: 5px;
}
.counter-wrapper span,
.counter-wrapper h5 {
  font-size: 52px;
  font-weight: 400;
  color: #ffffff;
  transition: 0.35s;
}
.counter {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 52px;
  overflow: hidden;
}
/* .counter-main-box:hover .counter-wrapper h5{
  transform: translateY(-300%);
  transition: 0.35s;
} */

#page6 {
  width: 100%;
  height: 160vh;
  /* background: #222222; */
  position: relative;
  padding: 80px 0px 0px 0px;
}
.portfolio-top-head {
  width: calc(100% - 60px);
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #222222;
  position: relative;
  z-index: 2;
}
.portfolio-top-head h2 {
  font-size: 120px;
  font-weight: 300;
  line-height: 1;
  font-family: rejoiuce;
}
.swiperSlider {
  width: 100%;
  height: 60vh;
  /* background-color: #ff5f38; */
  position: relative;
  z-index: 2;
}
.swiper {
  width: 100%;
  height: auto;
  margin-top: -50px;
}
.swiper-wrapper {
  align-items: flex-end;
  transition-timing-function: linear !important;
}

.swiper-slide {
  width: 400px;
  text-align: center;
  font-size: 18px;
  background: #3a3a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  flex-shrink: 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

#loader {
  width: 100%;
  height: 100%;
  /* background-color: #000000; */
  position: fixed;
  top: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #ffffff;
}
#loader h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
}
.rightside {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #000000;
  /* transition: 0.35s; */
  z-index: -1;
}
.leftside {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: -1;
}
#page7 {
  width: 100%;
  height: 200vh;
  margin-top: -150px;
  /* background: #222222; */
  position: relative;
  padding: 0 30px;
  /* margin-bottom: 30px; */
}
.videowrapper {
  width: 100%;
  height: 100vh;
  /* position: sticky; */
  z-index: 1;
  margin: 0 auto;
  scale: 1;
  /* transition: 0.25s; */
}
.videowrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fakewrapper {
  width: 100%;
  height: 100vh;
  /* background-color: #000000; */
  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) calc(100% - 30px),
    rgba(255, 255, 255, 1) 30px
  );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  /* top:100px; */
  z-index: 4;
}
#page8 {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  position: relative;
  padding: 0 30px;
}

/* Button */

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-angle-offset {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-percent {
  syntax: "<percentage>";
  initial-value: 5%;
  inherits: false;
}

@property --gradient-shine {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

.shiny-cta {
  --animation: gradient-angle linear infinite;
  --duration: 3s;
  --shadow-size: 2px;
  isolation: isolate;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline-offset: 4px;
  padding: 1.25rem 2.5rem;
  font-family: inherit;
  font-size: 1.125rem;
  line-height: 1.2;
  border: 1px solid transparent;
  border-radius: 360px;
  color: var(--shiny-cta-fg);
  background:
    linear-gradient(var(--shiny-cta-bg), var(--shiny-cta-bg)) padding-box,
    conic-gradient(
        from calc(var(--gradient-angle) - var(--gradient-angle-offset)),
        transparent,
        var(--shiny-cta-highlight) var(--gradient-percent),
        var(--gradient-shine) calc(var(--gradient-percent) * 2),
        var(--shiny-cta-highlight) calc(var(--gradient-percent) * 3),
        transparent calc(var(--gradient-percent) * 4)
      )
      border-box;
  box-shadow: inset 0 0 0 1px var(--shiny-cta-bg-subtle);

  &::before,
  &::after,
  span::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    translate: -50% -50%;
    z-index: -1;
  }

  &:active {
    translate: 0 1px;
  }
}

/* Dots pattern */
.shiny-cta::before {
  --size: calc(100% - var(--shadow-size) * 3);
  --position: 2px;
  --space: calc(var(--position) * 2);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(
      circle at var(--position) var(--position),
      white calc(var(--position) / 4),
      transparent 0
    )
    padding-box;
  background-size: var(--space) var(--space);
  background-repeat: space;
  mask-image: conic-gradient(
    from calc(var(--gradient-angle) + 45deg),
    black,
    transparent 10% 90%,
    black
  );
  border-radius: inherit;
  opacity: 0.4;
  z-index: -1;
}

/* Inner shimmer */
.shiny-cta::after {
  --animation: shimmer linear infinite;
  width: 100%;
  aspect-ratio: 1;
  background: linear-gradient(
    -50deg,
    transparent,
    var(--shiny-cta-highlight),
    transparent
  );
  mask-image: radial-gradient(circle at bottom, transparent 40%, black);
  opacity: 0.6;
}

.shiny-cta span {
  z-index: 1;

  &::before {
    --size: calc(100% + 1rem);
    width: var(--size);
    height: var(--size);
    box-shadow: inset 0 -1ex 2rem 4px var(--shiny-cta-highlight);
    opacity: 0;
  }
}

/* Animate */
.shiny-cta {
  --transition: 800ms cubic-bezier(0.25, 1, 0.5, 1);
  transition: var(--transition);
  transition-property:
    --gradient-angle-offset, --gradient-percent, --gradient-shine;

  &,
  &::before,
  &::after {
    animation:
      var(--animation) var(--duration),
      var(--animation) calc(var(--duration) / 0.4) reverse paused;
    animation-composition: add;
  }

  span::before {
    transition: opacity var(--transition);
    animation: calc(var(--duration) * 1.5) breathe linear infinite;
  }
}

.shiny-cta:is(:hover, :focus-visible) {
  --gradient-percent: 20%;
  --gradient-angle-offset: 95deg;
  --gradient-shine: var(--shiny-cta-highlight-subtle);

  &,
  &::before,
  &::after {
    animation-play-state: running;
  }

  span::before {
    opacity: 1;
  }
}

@keyframes gradient-angle {
  to {
    --gradient-angle: 360deg;
  }
}

@keyframes shimmer {
  to {
    rotate: 360deg;
  }
}

@keyframes breathe {
  from,
  to {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
}

.footer-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  /* align-items: stretch;   */
  justify-content: space-between;
}
.top-footer-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* background-color: #8484ff; */
}
.doit-once {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  width: 60%;
  flex-grow: 1;
}
.footer-wrapper h5 {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
}
.footer-wrapper .contact-info {
  width: 100%;
  align-items: flex-start;
  display: flex;
  height: 60px;
  gap: 60px;
  margin-top: 40px;
  justify-content: flex-start;
  color: #ffffff;
  /* background-color: #ffffff; */
}
.footer-wrapper .contact-info h5 {
  font-size: 16px;
  display: flex;
  font-weight: 300;
  gap: 3px;
  flex-direction: column;
  text-align: left;
}
.footer-wrapper .contact-info h5 span {
  color: #ffffff;
  font-weight: 500;
}
.newsletter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  width: 20%;
  max-width: 150px;
}
.footer-links ul {
  margin: 0;
  flex-direction: column;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.footer-links ul li {
  list-style: none;
  padding: 0;
  overflow: hidden;
}
.footer-links ul a {
  display: inline-block;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  /* text-transform: uppercase; */
}
.footer-links ul a::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  /* left: 0; */
  right: 0;
  bottom: 0;
}
.footer-links ul a::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 0;
  background-color: #ffffff;
  /* left: 0; */
  right: 0;
  bottom: 0;
  transition: 0.35s;
}
.footer-links ul a:hover::after {
  width: 100%;
  left: 0;
  transition: 0.35s;
}
.social-links ul a {
  display: flex;
  gap: 2px;
  align-items: flex-start;
}
.social-links ul a i:first-child {
  transform: translateX(-50px);
  width: 0;
  transition: 0.35s;
}
.social-links ul a i:last-child {
  transform: translateX(0);
  width: auto;
  transition: 0.35s;
}
.footer-links ul a:hover i:first-child {
  transform: translateX(0);
  width: auto;
  transition: 0.35s;
}
.footer-links ul a:hover i:last-child {
  transform: translateX(50px);
  width: 0;
  transition: 0.35s;
}
#footer-text {
  font-size: 24vw;
  color: #ffffff;
  font-weight: 400;
  font-family: rejoiuce;
  line-height: 0.9;
  will-change: transform;
}
#footer-text span {
  display: inline-block;
}
.footer-h1-wrapper {
  overflow: hidden;
  display: flex;
  padding-top: 0px;
  padding-bottom: 10px;
  align-items: flex-end;
  width: 100%;
}
.formbox {
  width: 100%;
  max-width: 272px;
  border-bottom: 1px solid #cfcfcf;
  padding: 5px 2px 5px 0px;
  display: flex;
  margin-top: 20px;
}
.form-input {
  width: 100%;
  border: none;
  overflow: hidden;
  font-weight: 300;
  font-size: 15px;
  opacity: 1;
  color: #ffffff;
  outline: none;
  background: transparent;
}
.reset-button {
  background-color: transparent;
  border-width: 0;
  position: relative;
  /* width: 50px; */
  /* height: 50px; */
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  text-align: left;
}
.reset-button i {
  color: #ffffff;
  font-size: 16px;
}
.footer-circle {
  scale: 0;
  /* z-index: 9; */
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  /* opacity: 0.7; */
  /* background: conic-gradient(
    from 180deg at 50% 50%,
    #007bff 0deg,
    #00f0ff 120.07deg,
    #247499 179.52deg,
    #ff0099 241.65deg,
    #0470e5 299.6deg,
    #00ffc2 360deg
  ); */
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
  font-size: 250px;
  height: 200px;
  width: 200px;
  filter: blur(72px);
}